:root {
  --color-black: 283841;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
  font-style: normal;
}

.container {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid #E9EBEC;
}

.contents {
  width: 100%;
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.37) 26.21%, #fff), url(/img/back.png), #d3d3d3 50%/cover no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  margin-right: 2rem;
  cursor: pointer;
}

.navigation {
  margin-right: auto;
}
.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
@media only screen and (max-width: 43.3125em) {
  .navigation__list {
    width: 10rem;
    justify-content: space-between;
    display: none;
  }
}
.navigation__link {
  text-decoration: none;
  color: gray;
}
.navigation__link:last-child {
  display: flex;
  align-self: flex-start;
}
.navigation__link-active {
  color: #25323a;
  border-bottom: 1px solid #25323a;
  padding-bottom: 0.5rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35rem;
}
@media only screen and (max-width: 58.25em) {
  .search {
    width: 30rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .search {
    width: 25rem;
  }
}
@media only screen and (max-width: 48.5em) {
  .search {
    width: 20rem;
  }
}
@media only screen and (max-width: 43.3125em) {
  .search {
    position: relative;
  }
}
.search__button {
  border: none;
  background: none;
  position: absolute;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  cursor: pointer;
}
@media only screen and (max-width: 43.3125em) {
  .search__button {
    padding: 0.5rem;
    background-color: #a8acae;
    border-radius: 50%;
    position: absolute;
    right: 0;
    width: 2.25rem;
    height: 2.25rem;
  }
}
@media only screen and (max-width: 43.3125em) {
  .search__icon {
    width: 1.25rem;
  }
}
.search__input {
  padding: 1rem;
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 48.5em) {
  .search__input {
    width: 70%;
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 43.3125em) {
  .search__input {
    margin-left: 0;
    position: absolute;
    right: 0;
  }
}
.search__input input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 100px;
  border: 1px solid #E9EBEC;
  transition: all 0.2s;
}
@media only screen and (max-width: 43.3125em) {
  .search__input input {
    display: none;
  }
}
.search__input input:hover {
  border: 1px solid #a8acae;
}
.search__tool {
  position: absolute;
  right: 1.5rem;
  padding: 0.5rem;
  background-color: #1E1E1E;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
@media only screen and (max-width: 43.3125em) {
  .search__tool {
    display: none;
  }
}
.search__tool:hover {
  background-color: #646464;
}
.search__mood {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
  border-radius: 100px;
  background-color: #E3E3E3;
  cursor: pointer;
}
@media only screen and (max-width: 43.3125em) {
  .search__mood {
    display: none;
  }
}
.search__mood--day {
  padding: 0.5rem;
  background-color: #FFFFFF;
}
.search__notification {
  padding: 0.5rem;
  background-color: #E3E3E3;
  border-radius: 100px;
  margin-left: 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .search__notification {
    display: none;
  }
}

.comics-view {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comics__intro {
  padding-top: 2rem;
  padding-bottom: 4rem;
  width: 100%;
}
@media only screen and (max-width: 56.25em) {
  .comics__intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.comics__heading {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
}
@media only screen and (max-width: 56.25em) {
  .comics__heading {
    width: 30rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .comics__heading {
    font-size: 3rem;
    width: 436px;
    border: 1px solid red;
  }
}
@media only screen and (max-width: 30.8125em) {
  .comics__heading {
    width: 90%;
  }
}
.comics__paragraph {
  font-size: 1.2rem;
  color: hsl(200, 6%, 52%);
  margin-bottom: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .comics__paragraph {
    width: 30.6rem;
    line-height: 1.7rem;
    display: inline-block;
  }
}
@media only screen and (max-width: 37.5em) {
  .comics__paragraph {
    border: 1px solid red;
    padding: 0 1rem;
    width: 90%;
  }
}
.comics__btn:link, .comics__btn:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #1E1E1E;
  color: #FFFFFF;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .comics__btn:link, .comics__btn:visited {
    display: block;
    width: 13.84rem;
    font-size: 1.05rem;
    font-weight: 400;
  }
}
.comics__btn:link:hover, .comics__btn:visited:hover {
  background-color: #646464;
}

.gallary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: relative;
}
.gallary__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  flex-direction: row;
}
@media only screen and (max-width: 87.5em) {
  .gallary__content {
    width: 100%;
    justify-content: space-between;
    z-index: 90;
    position: relative;
  }
}
.gallary__link {
  width: 3.5rem;
  height: 3.5rem;
}
@media only screen and (max-width: 87.5em) {
  .gallary__link--1 {
    position: absolute;
    margin: 0;
    left: 4rem;
  }
}
@media only screen and (max-width: 30.8125em) {
  .gallary__link--1 {
    left: 0;
  }
}
@media only screen and (max-width: 87.5em) {
  .gallary__link--2 {
    position: absolute;
    right: 4rem;
  }
}
@media only screen and (max-width: 30.8125em) {
  .gallary__link--2 {
    right: 0;
  }
}
.gallary__left, .gallary__right {
  transition: all 0.2s;
}
.gallary__left:hover, .gallary__right:hover {
  background-color: hsla(205, 39%, 89%, 0.437);
}
.gallary__left {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
  border: 1px solid hsl(200, 18%, 90%);
  padding: 1rem;
  border-radius: 50%;
}
.gallary__right {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid hsl(200, 6%, 52%);
  padding: 1rem;
  border-radius: 50%;
}
.gallary__photo {
  width: 12rem;
  height: 20rem;
  transition: all 0.2s;
  cursor: pointer;
}
@media only screen and (max-width: 43.3125em) {
  .gallary__photo {
    width: 10rem;
    height: 18rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .gallary__photo {
    width: 8rem;
    height: 14rem;
  }
}
@media only screen and (max-width: 30.8125em) {
  .gallary__photo {
    width: 100%;
  }
}
.gallary__photo:hover {
  transform: scale(1.5);
}
@media only screen and (max-width: 62.5em) {
  .gallary__photo--1, .gallary__photo--2 {
    display: none;
  }
}
.gallary__photo--center {
  width: 14rem;
  height: 24rem;
}
@media only screen and (max-width: 43.3125em) {
  .gallary__photo--center {
    width: 12rem;
    height: 22rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .gallary__photo--center {
    width: 10rem;
    height: 16rem;
  }
}
@media only screen and (max-width: 30.8125em) {
  .gallary__photo--center {
    width: 90%;
    margin: 0 auto;
  }
}
.gallary__details--name, .gallary__details--author {
  display: block;
}
.gallary__details--name {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-weight: 700;
}
.gallary__details--author {
  color: hsl(200, 6%, 52%);
}

/*# sourceMappingURL=style.css.map */
