:root{
    --color-black: 283841;
    --color-white: #fff;
}

$bp-one: 87.5em;
$bp-two: 62.5em;
$bp-three: 58.25em;
$bp-four: 56.25em;
$bp-five: 48.5em;
$bp-six: 43.3125em;
$bp-seven: 37.5em;
$bp-eight: 30.8125em;


*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    font-family: __Inter_aaf875, __Inter_Fallback_aaf875;
    font-style: normal;
}