/////////////////////////
/// HEADER
.header{
    display: flex;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    margin-right: 2rem;
    cursor: pointer;
}

/////////////////////////
/// NAVIGATION
.navigation{
    margin-right: auto;
    
    

    &__list{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 2rem;

        @media only screen and (max-width: $bp-six){
            width: 10rem;
            justify-content: space-between;
            display: none;
        }

    }

    &__link{
        text-decoration: none;
        color: gray;

        &:last-child{
            display: flex;
            align-self: flex-start;
        }

        &-active{
            color: #25323a;
            border-bottom: 1px solid #25323a;
            padding-bottom: .5rem;
        }
     
    }
    
}

/////////////////////////
/// SEARCH
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35rem;

    @media only screen and (max-width: $bp-three){
        width: 30rem;
    }

    @media only screen and (max-width: $bp-four){
        width: 25rem;
    }

    @media only screen and (max-width: $bp-five){
        width: 20rem;
    }

    @media only screen and (max-width: $bp-six){
        position: relative;
    }
    
    &__button {
        border: none;
        background: none;
        position: absolute;
        margin-left: .5rem;
        margin-top: .2rem;
        cursor: pointer;

        @media only screen and (max-width: $bp-six){
            padding: .5rem;
            background-color: #a8acae;
            border-radius: 50%;
            position: absolute;
            right: 0;
            width: 2.25rem;
            height: 2.25rem;
        }
    }

    &__icon{
        @media only screen and (max-width: $bp-six){
            width: 1.25rem;

        }
        
    }
    
    &__input{
        padding: 1rem;
        width: 80%;
        position: relative;
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp-five){
            width: 70%;
            margin-left: 2rem;
        }

        @media only screen and (max-width: $bp-six){
            margin-left: 0;
            position: absolute;
            right: 0;
        }


        input {
            width: 100%;
            padding: 1rem 1.5rem;
            border-radius: 100px;
            border: 1px solid #E9EBEC;
            transition: all .2s;

            @media only screen and (max-width: $bp-six){
                display: none;
            }

            &:hover{
                border: 1px solid #a8acae;
            }
        }
    }

    &__tool{
        position: absolute;
        right: 1.5rem;
        padding: .5rem;
        background-color: #1E1E1E;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: all .2s;

        @media only screen and (max-width: $bp-six){
            display: none;
        }

        &:hover{
            background-color: #646464;
        }
    }

    &__mood{
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .2rem;
        border-radius: 100px;
        background-color: #E3E3E3;
        cursor: pointer;

        @media only screen and (max-width: $bp-six){
            display: none;
        }


        &--day{
            padding: .5rem;
            background-color: #FFFFFF;
        }
    }

    &__notification{
        padding: .5rem;
        background-color: #E3E3E3;
        border-radius: 100px;
        margin-left: 1rem;
        cursor: pointer;

        @media only screen and (max-width: $bp-four){
            display: none;
        }
    }
}


/////////////////////////
/// COMICS
.comics-view{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comics{
    &__intro{
        padding-top: 2rem;
        padding-bottom: 4rem;
        width: 100%;

        @media only screen and (max-width: $bp-four){
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__heading{
        font-size: 5rem;
        font-weight: 400;
        margin-bottom: .7rem;

        @media only screen and (max-width: $bp-four){
            width: 30rem;
        }

        @media only screen and (max-width: $bp-seven){
            font-size: 3rem;
            width: 436px;
            border: 1px solid red;
        }

        @media only screen and (max-width: $bp-eight){
            width: 90%;
        }
    }

    &__paragraph{
        font-size: 1.2rem;
        color: hsl(200 6% 52% / 1);
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-four){
            width: 30.6rem;
            line-height: 1.7rem;
            display: inline-block;
        }

        @media only screen and (max-width: $bp-seven){
            border: 1px solid red;
            padding: 0 1rem;
            width: 90%;
        }
    }

    &__btn:link,
    &__btn:visited{
        text-decoration: none;
        padding: 1rem 2rem;
        background-color: #1E1E1E;
        color: #FFFFFF;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;

        @media only screen and (max-width: $bp-four){
            display: block;
            width: 13.84rem;
            font-size: 1.05rem;
            font-weight: 400;
        }

        &:hover{
            background-color: #646464;
        }
    }
}


/////////////////////////
/// GALLARY

.gallary{
    display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        position: relative;
        
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 85%;
        flex-direction: row;

        
        @media only screen and (max-width: $bp-one){
            width: 100%;
            justify-content: space-between;
            z-index: 90;
            position: relative;
        }
    }
    
    &__link{

        width: 3.5rem;
        height: 3.5rem;

        &--1{
            @media only screen and (max-width: $bp-one){
                position: absolute;
                margin: 0;
                left: 4rem;
            }

            @media only screen and (max-width: $bp-eight){
                left: 0;
            }
        }

        &--2{
            @media only screen and (max-width: $bp-one){
                position: absolute;
                right: 4rem;
            }

            @media only screen and (max-width: $bp-eight){
                right: 0;
            }
        }
    }

    &__left,
    &__right{
        transition: all .2s;

        &:hover{
            background-color: hsla(205, 39%, 89%, 0.437);
        }
    }

    &__left{
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 1.5rem;
        border: 1px solid hsl(200, 18%, 90%);
        padding: 1rem;
        border-radius: 50%;
    }

    &__right{
        width: 3.5rem;
        height: 3.5rem;
        border: 1px solid hsl(200 6% 52% / 1);
        padding: 1rem;
        border-radius: 50%;
    }

    &__photo{
        width: 12rem;
        height: 20rem;
        transition: all .2s;
        cursor: pointer;

        @media only screen and (max-width: $bp-six){
            width: 10rem;
            height: 18rem;
        }

        @media only screen and (max-width: $bp-seven){
            width: 8rem;
            height: 14rem;
        }

        @media only screen and (max-width: $bp-eight){
            width: 100%;
        }

        &:hover{
            transform: scale(1.5);
        }

        &--1,
        &--2{
            @media only screen and (max-width: $bp-two){
                display: none;
            }
        }

        &--center{
            width: 14rem;
            height: 24rem;

            @media only screen and (max-width: $bp-six){
                width: 12rem;
                height: 22rem;
            }

            @media only screen and (max-width: $bp-seven){
                width: 10rem;
                height: 16rem;
            }

            @media only screen and (max-width: $bp-eight){
                width: 90%;
                margin: 0 auto;
            }
    
        }
    }

    &__details{

        &--name,
        &--author{
            display: block;
        }

        &--name{
            margin-top: .5rem;
            margin-bottom: .3rem;
            font-weight: 700;
        }

        &--author{
            color: hsl(200 6% 52% / 1);
        }
    }
}