.container{
    width: 100vw;
    height: 100vh;
}


.header{
    width: 100%;
    padding: 1rem 2rem;
    border-bottom: 1px solid #E9EBEC;
}

.contents{
    width: 100%;
    background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, .37) 26.21%, #fff), url(/img/back.png), #d3d3d3 50% / cover no-repeat;
    background-size: cover;
}